@{
    Layout = null;
}

@model WBK.Models.Create.PageQuestionModel

<div class="questionDiv">
    <h3>Vraag @(Model.QuestionId + 1)</h3>
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_ @(Model.QuestionId)__Title " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Title" type="text" value="Hoeveel minuten per week beweegt u tenminste gemiddeld matig intensief? " />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_ @(Model.QuestionId)__Description " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Description" type="text" value="(Wandelen, tuinieren/ fietsen/ actief werk etc.) " />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_ @(Model.QuestionId)__Attribute " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Attribute" type="text" value="nngbMediumIntensity" hidden />

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Type field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Type" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Type">
        <option value="0">GeoVraag</option>
        <option selected="selected" value="1">MeerkeuzeVraag</option>
        <option value="2">OpenVraag</option>
        <option value="3">SliderVraag</option>
        <option value="4">NummerVraag</option>
    </select>

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Category field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Category" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Category">
        <option value="0">Profiel</option>
        <option value="1">Locatie</option>
        <option selected="selected" value="2">Gezondheid</option>
    </select>

    <div class=mcWrapper>
        <label>Laat meerdere antwoorden toe:</label>
        <input class="form-control" readonly="readonly" data-val="true" data-val-required="The AllowMultipleAnswers field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__AllowMultipleAnswers" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].AllowMultipleAnswers" type="checkbox" value="false" />
        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_0__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[0].Answer" type="text" value="<60 min per week " />
            <label for="OptionCounter" style="display: none;">0</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_1__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[1].Answer" type="text" value="60-100 minuten per week" />
            <label for="OptionCounter" style="display: none;">1</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_2__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[2].Answer" type="text" value="101-150 min per week" />
            <label for="OptionCounter" style="display: none;">2</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_3__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[3].Answer" type="text" value=" >150 min per week" />
            <label for="OptionCounter" style="display: none;">3</label>
        </div>

    </div>
</div>
@{ Model.QuestionId++; }
<div class="questionDiv">
    <h3>Vraag @(Model.QuestionId + 1)</h3>
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_ @(Model.QuestionId)__Title " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Title" type="text" value="Hoeveel x per week gemiddeld doet u tenminste 20 minuten aan intensieve lichaamsbeweging" />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_ @(Model.QuestionId)__Description " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Description" type="text" value="(bijv. sporten) " />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_ @(Model.QuestionId)__Attribute " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Attribute" type="text" value="nngbHighIntensity" hidden />

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Type field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Type" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Type">
        <option value="0">GeoVraag</option>
        <option selected="selected" value="1">MeerkeuzeVraag</option>
        <option value="2">OpenVraag</option>
        <option value="3">SliderVraag</option>
        <option value="4">NummerVraag</option>
    </select>

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Category field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Category" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Category">
        <option value="0">Profiel</option>
        <option value="1">Locatie</option>
        <option selected="selected" value="2">Gezondheid</option>
    </select>

    <div class=mcWrapper>
        <label>Laat meerdere antwoorden toe:</label>
        <input class="form-control" readonly="readonly" data-val="true" data-val-required="The AllowMultipleAnswers field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__AllowMultipleAnswers" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].AllowMultipleAnswers" type="checkbox" value="false" />
        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_0__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[0].Answer" type="text" value="Gemiddeld minder dan 1 x per week" />
            <label for="OptionCounter" style="display: none;">1</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_1__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[1].Answer" type="text" value="1 tot 2 x per week" />
            <label for="OptionCounter" style="display: none;">2</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_2__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[2].Answer" type="text" value="3 of meer" />
            <label for="OptionCounter" style="display: none;">3</label>
        </div>

    </div>
</div>

