@{
    Layout = "";
}

@model WBK.Models.Create.SurveyViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WijkBeweegKaart</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/lib/jqeury-ui/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jqeury-ui/jquery-ui.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="p-0">
    <div class="container">


        <div class="row">

            <div class="col">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="">
                        <div>
                            <label>Titel:</label>
                            @Html.TextBoxFor(x => x.Title)
                            @Html.ValidationMessageFor(x => x.Title)
                        </div>
                        <div>
                            <label>Beschrijving:</label>
                            @Html.TextAreaFor(x => x.Description)
                            @Html.ValidationMessageFor(x => x.Description)
                        </div>
                        <div>
                            <label>Eind Datum:</label>
                            @Html.TextBoxFor(model => model.EndDate)
                            @Html.ValidationMessageFor(x => x.EndDate)
                        </div>

                        <div style="margin-top: 200px;">
                            <div id="mapid" style="height: 400px; width: 400px;" class=""></div>
                            @Html.HiddenFor(x => x.StartLocationLat)
                            @Html.ValidationMessageFor(x => x.StartLocationLat)
                            @Html.HiddenFor(x => x.StartLocationLong)
                            @Html.ValidationMessageFor(x => x.StartLocationLong)
                        </div>
                    </div>

                    <div id="InputsWrapper">
                        @for (var i = 0; i < Model.PagesList.Count(); i++)
                        {
                            <div class="pageDiv">
                                <h3>Pagina @i</h3>
                                @Html.TextBoxFor(x => x.PagesList[i].Title)
                                @Html.ValidationMessageFor(x => x.PagesList[i].Title)

                                @Html.TextBoxFor(x => x.PagesList[i].Description)
                                @Html.ValidationMessageFor(x => x.PagesList[i].Description)

                                @Html.Label("PageCounter", i.ToString(), new { style = "display: none;" })

                                <div class="QuestionWrapper">

                                    @for (var j = 0; j < Model.PagesList[i].Questions.Count(); j++)
                                    {
                                    <div class="questionDiv">
                                        <h3>Vraag @j</h3>

                                        @Html.TextBoxFor(x => x.PagesList[i].Questions[j].Title)

                                        @Html.TextBoxFor(x => x.PagesList[i].Questions[j].Description)

                                        @Html.DropDownListFor(x => x.PagesList[i].Questions[j].Type, Html.GetEnumSelectList(Model.PagesList[0].Questions[0].Type.GetType()))

                                        @Html.DropDownListFor(x => x.PagesList[i].Questions[j].Category, Html.GetEnumSelectList(Model.PagesList[0].Questions[0].Category.GetType()))

                                        @Html.Label("QuestionCounter", j.ToString(), new { style = "display: none;" })

                                        <a href="" class="removeQuestionClass">Vraag verwijderen</a>
                                    </div>

                                    }



                                </div>

                                <div class="addQuestion">
                                    <a href="#" class="addQuestionButton btn btn-info">Voeg Vraag Toe</a><br><br>
                                </div>


                                <a href="#" class="removeclass">Verwijder Pagina</a>
                            </div>
                        }
                    </div>

                    <div id="AddMoreFileId">
                        <a href="#" id="AddMoreFileBox" class="btn btn-info">Voeg Pagina Toe</a><br><br>
                    </div>

                    <input type="submit" name="name" value="Maak Aan!" />

                }
            </div>

        </div>

    </div>

    <script type="text/javascript">
        var mymap = L.map('mapid').setView([51.47358, 5.453167], 13);
        var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(mymap);

        var marker = L.marker();

        function onMapClick(e) {
            marker
                .setLatLng(e.latlng)
                .bindPopup("You clicked the map at " + e.latlng.toString())
                .addTo(mymap);
            document.getElementsByName("StartLocationLat")[0].value = e.latlng.lat;
            document.getElementsByName("StartLocationLong")[0].value = e.latlng.lng;
        }

        mymap.on('click', onMapClick);


        $(document).ready(function () {

            console.log("ready!");
            $('#EndDate').datepicker({
                format: 'dd/mm/yyyy',
                uiLibrary: 'bootstrap4',
                startDate: '+14d'
            });;

            $("body").on("change", "select", function (e) {
                console.log($(this));
                if (this.id.includes("Type")) {
                    var parentDiv = $(this).parent();
                    parentDiv.children('.question').remove();
                    var str = this.id;
                    var indexOfPage = str.indexOf("t_");
                    var indexOfQeustions = str.indexOf("s_");
                    var pageNumber = str.charAt(indexOfPage + 2);
                    var questionNumber = str.charAt(indexOfQeustions + 2);
                    switch (parseInt(this.value)) {
                        case 0:
                            $(parentDiv).append('<div class="question">' +
                                '<select data-val="true" data-val-required="The GeoType field is required." id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__GeoType" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].GeoType">' +
                                ' <option selected="selected" value="0">Marker</option>' +
                                ' <option value="1">Lijn</option>' +
                                '<option value="2">Vlak</option>' +
                                '</select>' +
                                '</div>');
                            break;
                        case 1:
                            $(parentDiv).append('<div class="question">' +
                                '<div class=mcWrapper>' +
                                '<label>Laat meerdere antwoorden toe:</label>' +
                                '<input data-val="true" data-val-required="The AllowMultipleAnswers field is required." id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__AllowMultipleAnswers" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].AllowMultipleAnswers" type="checkbox" value="true"/>' +
                                '<div class="MCOption">' +
                                '<label>Antwoord:</label> <input id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__Options_0__Answer" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].Options[0].Answer" type="text" value="" />' +
                                '<label>Eventuele beschrijving:</label> <input id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__Options_0__Description" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].Options[0].Description" type="text" value="" />' +
                                '<label for="OptionCounter" style="display: none;">0</label>' +
                                '<a href="" class="removeMCOption">Verwijderen</a>' +
                                '</div> ' +
                                '</div>' +
                                '<div class="addMCOptions"><a href="" class="addMCOption" btn btn-info">+</a><br><br></div>' +
                                '</div>');
                            break;
                        case 3:
                            $(parentDiv).append('<div class="question">' +
                                '<input id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__SliderMaxText" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].SliderMaxText" type="text" value="" />' +
                                '<input id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__SliderMinText" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].SliderMinText" type="text" value="" />' +
                                '<input data-val="true" data-val-required="The SliderScaleVal field is required." id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__SliderScaleVal" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].SliderScaleVal" type="number" />' +
                                '</div>');
                            break;
                        case 4:
                            $(parentDiv).append('<div class="question">' +
                                '<input data-val="true" data-val-required="The MaxValue field is required." id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__MaxValue" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].MaxValue" type="number" />' +
                                '<input data-val="true" data-val-required="The MinValue field is required." id="PagesList_' + pageNumber + '__Questions_' + questionNumber + '__MinValue" name="PagesList[' + pageNumber + '].Questions[' + questionNumber + '].MinValue" type="number"/>' +
                                '</div>');
                            break;

                    }
                }
            });

            //Pagina
            var MaxInputsPage = 10;
            var InputsWrapper = $("#InputsWrapper");
            var AddButtonPage = $("#AddMoreFileBox");
            var x = InputsWrapper.length;
            $(AddButtonPage).click(function (e) {
                var currentPageCount = $('.pageDiv').length;
                //max input box allowed
                if (x <= MaxInputsPage) {
                    //add input box
                    $(InputsWrapper).append('<div class="pageDiv">' +
                        '<h3>Pagina ' + currentPageCount + '</h3>' +
                        '<input id="PagesList_' + currentPageCount + '__Title" name="PagesList[' + currentPageCount + '].Title" type="text" value="" /><span class="field-validation-valid" data-valmsg-for="PagesList[' + currentPageCount + '].Title" data-valmsg-replace="true"></span>' +
                        '<input id="PagesList_' + currentPageCount + '__Description" name="PagesList[' + currentPageCount + '].Description" type="text" value="" /><span class="field-validation-valid" data-valmsg-for="PagesList[' + currentPageCount + '].Description" data-valmsg-replace="true"></span>' +
                        '<a href="" class="removeclass">Verwijderen</a>' +
                        '<label for="PageCounter" style="display: none;">' + currentPageCount + '</label>' +
                        '<div class="QuestionWrapper">' +
                        '</div>' +
                        '<div class="addQuestion"> <a href="#" class="addQuestionButton btn btn-info">Voeg Vraag Toe</a><br><br></div> ' +
                        '</div>');
                    x++; //text box increment

                    $("#AddMoreFileId").show();

                    $('AddMoreFileBox').html("Add field");

                    if (x == MaxInputsPage) {
                        $("#AddMoreFileId").hide();
                    }
                }
                return false;
            });

            $("body").on("click", ".removeclass", function (e) { //user click on remove text
                if (x > 1) {
                    $(this).parent('div').remove(); //remove text box
                    x--; //decrement textbox
                    var i;
                    var pages = $('.pageDiv').toArray();
                    var counters = $('.pageDiv label[for=PageCounter]').toArray();
                    for (i = 0; i < pages.length; i++) {
                        var children = pages[i].children;
                        for (j = 0; j < children.length; j++) {
                            var child = children[j];
                            switch (child.tagName) {
                                case "H3":
                                    child.innerHTML = "Pagina " + i;
                                    break;
                                case "INPUT":
                                    child.id = child.id.replace("PagesList_" + counters[i].innerHTML, "PagesList_" + i);
                                    child.name = child.name.replace("PagesList[" + counters[i].innerHTML + "]", "PagesList[" + i + "]");
                                    break;
                                case "LABEL":
                                    child.innerHTML = i;
                                    break;
                                default:
                            }
                        }

                    };
                    $("#AddMoreFileId").show();
                    // Adds the "add" link again when a field is removed.
                    $('AddMoreFileBox').html("Add field");
                }
                return false;
            });
            var MaxInputsQuestion = 20;
            $("body").on("click", ".addQuestionButton", function (e) {
                e.stopPropagation();
                e.stopImmediatePropagation();
                var pageNumber = $(this).parent().parent().children("label")[0].innerHTML;
                var questionWrapper = $(this).parent().parent().children(".QuestionWrapper");
                var currentQuestionCount = $(questionWrapper).children(".questionDiv").length;
                $(questionWrapper).append('<div class="questionDiv">' +
                    '<h3>Vraag ' + currentQuestionCount + '</h3>' +
                    '<input id="PagesList_' + pageNumber + '__Questions_' + currentQuestionCount + '__Title" name="PagesList[' + pageNumber + '].Questions[' + currentQuestionCount + '].Title" type="text" value="" />' +
                    '<input id="PagesList_' + pageNumber + '__Questions_' + currentQuestionCount + '__Description" name="PagesList[' + pageNumber + '].Questions[' + currentQuestionCount + '].Description" type="text" value="" />' +
                    '<select data-val="true" data-val-required="The Type field is required." id="PagesList_' + pageNumber + '__Questions_' + currentQuestionCount + '__Type" name="PagesList[0].Questions[' + currentQuestionCount + '].Type">' +
                    '<option selected="selected" value="0">GeoVraag</option><option value="1">MeerkeuzeVraag</option>' +
                    '<option value="2">OpenVraag</option>' +
                    '<option value="3">SliderVraag</option><option value="4">NummerVraag</option></select>                                       ' +
                    '<select data-val="true" data-val-required="The Category field is required." id="PagesList_' + pageNumber + '__Questions_' + currentQuestionCount + '__Category" name="PagesList[0].Questions[' + currentQuestionCount + '].Category">' +
                    '<option selected="selected" value="0">Profiel</option><option value="1">Locatie</option><option value="2">Gezondheid</option></select>' +
                    '<label for="QuestionCounter" style="display: none;">' + currentQuestionCount + '</label>' +
                    '<a href="" class="removeQuestionClass">Vraag verwijderen</a>' +
                    '</div>');
            });
            $("body").on("click", ".removeQuestionClass", function (e) { //user click on remove text
                var questionsWrapper = $(this).parent().parent();
                var i;
                var j;
                var q;
                if (questionsWrapper.children().length > 1) {

                    $(this).parent('div').remove();
                    var questions = questionsWrapper.children();
                    console.log(questions);
                    for (q = 0; q < questions.length; q++) {
                        var children = questions[q].children;
                        var oldNumber = children[5].innerHTML;
                        for (j = 0; j < children.length; j++) {
                            var child = children[j];
                            switch (child.tagName) {
                                case "H3":
                                    child.innerHTML = "Vraag " + q;
                                    break;
                                case "INPUT":
                                    child.id = child.id.replace("Questions_" + oldNumber, "Questions_" + q);
                                    child.name = child.name.replace("Questions[" + oldNumber + "]", "Questions[" + q + "]");
                                    break;
                                case "SELECT":
                                    child.id = child.id.replace("Questions_" + oldNumber, "Questions_" + q);
                                    child.name = child.name.replace("Questions[" + oldNumber + "]", "Questions[" + q + "]");
                                    break;
                                case "LABEL":
                                    child.innerHTML = q;
                                    break;
                                default:
                            }
                        }
                    }
                }
                return false;
            });
        });


        $("body").on("click", ".addMCOption", function(e) {
            var wrapper = $(this).parent().parent().children()[0];
            var numberOfOptions = $(wrapper).children(".MCOption").length;

            var pageNumber = $(this).parent().parent().parent().parent().parent().children("label")[0].innerHTML;
            var questionWrapper = $(this).parent().parent().parent().parent().parent().children(".QuestionWrapper");
            var currentQuestionCount = $(questionWrapper).children(".questionDiv").length;

            console.log(wrapper);
            console.log(currentQuestionCount);

            $(wrapper).append(
                '<div class="MCOption">' +
                '<label>Antwoord:</label> <input id="PagesList_' + pageNumber + '__Questions_' + currentQuestionCount + '__Options_' + numberOfOptions + '__Answer" name="PagesList[' + pageNumber + '].Questions[' + currentQuestionCount + '].Options[' + numberOfOptions + '].Answer" type="text" value="" />' +
                '<label>Eventuele beschrijving:</label> <input id="PagesList_' + pageNumber + '__Questions_' + currentQuestionCount + '__Options_' + numberOfOptions + '__Description" name="PagesList[' + pageNumber + '].Questions[' + currentQuestionCount + '].Options[' + numberOfOptions + '].Description" type="text" value="" />' +
                '<label for="OptionCounter" style="display: none;">' + numberOfOptions + '</label>' +
                '<a href="" class="removeMCOption">Verwijderen</a>' +
                '</div> ');
            return false;
        });

        $("body").on("click", ".removeMCOption", function (e) {
            e.preventDefault();
            var wrapper = $(this).parent().parent().parent().children()[0];
            $(this).parent('div').remove();
            var options = $(wrapper).children(".MCOption");
            var i;
            var q;
            for (i = 0; i < options.length; i++) {
                var children = options[i].children;
                var oldNumber = children[4].innerHTML;
                children[4].innerHTML = i;
                for (q = 0; q < children.length; q++) {
                    var child = children[q];
                    switch (child.tagName) {
                    case "INPUT":
                            child.id = child.id.replace("Options_" + oldNumber, "Options_" + i);
                            child.name = child.name.replace("Options[" + oldNumber + "]", "PagesList[" + i + "]");
                        break;
                    default:
                        break;
                    }
                }
            }
            return false;
        });
    </script>
</body>
</html>
