@{
    Layout = "";
}

@model WBK.Models.Dashboard.ProfileAverageViewModel

<p>Gemiddelde leeftijd: @Model.AverageAge</p>
<p>Grootste motivator: @Model.BiggestMotivator</p>
<p>Grootste Belemmering @Model.BiggestRestrain</p>
<p>% dat sport: @Model.PercentageThatDoesSport</p>
<p>% dat voldoet aan het NNGB: @Model.PercentageThatSatifiesNNGB</p>